$color-primary:#E03323;
$color-primary-2:#e033237e;
$secondry-background: #3a3a3a;
$main-background: #111111;

$color-grey:#888888;
$color-light-grey: #b7b7b7;
$color-white: #fff;

$default-font-size : 1.6rem;

// padding margin values 

$padding-margin-xxs: 2px;
$padding-margin-xs: 5px;
$padding-margin-s: 10px;
$padding-margin-m: 15px;
$padding-margin-l: 20px;
$padding-margin-xl: 25px;
$padding-margin-xxl: 30px;

// text size

$text-xs: 5px;
$text-s: 10px;
$text-m: 15px;
$text-l: 20px;
$text-xl: 25px;
$text-xxl: 30px;

// sidebar-size 
$side-bar-size: 15%;